openapi: 3.0.1
info:
  title: V7 Darwin Annotations Datasets API
  description: 'REST API for the V7 Darwin training-data platform. Manage datasets, register and upload items (images, video, documents), read and import annotations, orchestrate human-in-the-loop workflows and stages, manage annotation classes, and request dataset exports (releases). All requests are authenticated with an `Authorization: ApiKey {key}` header. Paths use the team slug as a path parameter; API keys are scoped to a team and their permissions determine which operations are allowed.'
  termsOfService: https://www.v7labs.com/terms
  contact:
    name: V7 Support
    url: https://docs.v7labs.com
  version: '2.0'
servers:
- url: https://darwin.v7labs.com/api
  description: V7 Darwin production API
security:
- ApiKeyAuth: []
tags:
- name: Datasets
  description: Create and manage datasets.
paths:
  /datasets:
    get:
      operationId: listDatasets
      tags:
      - Datasets
      summary: List datasets
      description: Returns the datasets accessible to the authenticated team.
      responses:
        '200':
          description: A list of datasets.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dataset'
    post:
      operationId: createDataset
      tags:
      - Datasets
      summary: Create a dataset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDatasetRequest'
      responses:
        '200':
          description: The created dataset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
  /datasets/{id}:
    get:
      operationId: getDataset
      tags:
      - Datasets
      summary: Get a dataset
      parameters:
      - $ref: '#/components/parameters/DatasetId'
      responses:
        '200':
          description: The requested dataset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    CreateDatasetRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
    Error:
      type: object
      properties:
        errors:
          type: object
        message:
          type: string
    Dataset:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        num_images:
          type: integer
        num_videos:
          type: integer
        progress:
          type: number
          format: float
  parameters:
    DatasetId:
      name: id
      in: path
      required: true
      description: The numeric dataset ID.
      schema:
        type: integer
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Team-scoped API key sent as `Authorization: ApiKey {key}`. Generate keys at https://darwin.v7labs.com/?settings=api-keys. Key permissions determine which operations are allowed.'
